.cslCon{
  width: 100vw;
  height: 40vw;
  background: #20232a;
  border: 1px solid #505050;
  padding: 5px;
  position: fixed;
  left: 0;
  overflow: scroll;
  transition: all ease-in 0.5s;
  font-family: Arial;
}

.closeBtn{
  width: 7vw;
  height: 7vw;
  background: #61dafb;
  border-radius: 50%;
  position: fixed;
  right: 3vw;
  transition: all ease-out 0.5s
}
